body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    position: relative;
    width: 100vw;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
}
@media screen and (min-width:2064px){
    .main{
        width: 2064px;
    }
}
.top{
    position: relative;
    width: 100vw;
    height: 100px;
    margin: 0 auto;
    padding: 0 auto;
}
.top-blocks{
    position: absolute;
    width: 1237px;
    height: 100px;
    left: 81px;
}
@media screen and (min-width:1400px){
    .top{
        width: 1400px;
    }
}
@media screen and (max-width:1400px) and (min-width:1297px){
    .top-blocks{
        left: calc((100vw - 1237px)/2);
    }
}
.top-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 100px;
    margin: 0 auto;
    padding: 0 auto;
    background: #D0D0D0;
    z-index: 1;
}
.list-bottom-line{
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 169px;
    margin: 0 auto;
    padding: 0 auto;
    background: #D0D0D0;
    z-index: 1;
}
.top-block1{
    position: absolute;
    top: 17px;
    width: 131px;
    height: 72px;
}
img{
    width: 131px;
    height: 72px;
}
.dash{
    position: absolute;
    top: 31px;
    left: 158px;
    width: 1px;
    height: 40px;
    background: #E2E2E2;
}
.top-block2{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 179px;
    top: 28px;
    align-items: center;
}
.UA{
    position: absolute;
    width: 35px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;
}
.top-blockRU{
    position: absolute;
    top: 23px;
    align-items: center;
    width: 35px;
    height: 20px;
    border-radius: 2px;
    background: #4AD295;
}
.RU{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    
}
.dash2{
    position: absolute;
    width: 1px;
    height: 40px;
    left: 242px;
    top: 31px;
    background: #E2E2E2;
}
.top-block3{
    position: absolute;
    width: 75px;
    height: 42px;
    left: 265px;
    top: 31px;
}
.cost-1{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.cost-2{
    position: absolute;
    top: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
}
.dash3{
    position: absolute;
    width: 1px;
    height: 40px;
    left: 365px;
    top: 31px;
    background: #E2E2E2;
}
.top-block4{
    position: absolute;
    width: 85px;
    height: 20px;
    left: 391px;
    top: 42px;
}
.facebook{
    position: absolute;
    width: 20px;
    height: 20px;
    background: no-repeat url(../img/png-icons/facebook\ 1.png) center;
    background-size: 20px 20px;
}
.instagram{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    background: no-repeat url(../img/png-icons/instagram\ \(1\)\ 1.png);
    background-size: 20px 20px;
}
.youtube{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 65px;
    background: no-repeat url(../img/png-icons/youtube\ 1.png);
    background-size: 20px 20px;
}
.dash4{
    position: absolute;
    width: 1px;
    height: 40px;
    left: 501px;
    top: 31px;
    background: #E2E2E2;
}
.top-block5{
    position: absolute;
    width: 128px;
    height: 47px;
    left: 527px;
    top: 29px;
}
.number-1,
.number-2{
    position: absolute;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
.number-2{
    top: 26px;
}
.smartphone-icon{
    position: absolute;
    width: 39px;
    height: 39px;
    left: 662px;
    top: 32px;
    background: url(../img/png-icons/smartphone\ 1.png);
    background-size: 39px 39px;
}
.dash5{
    position: absolute;
    width: 1px;
    height: 40px;
    left: 726px;
    top: 31px;
    background: #E2E2E2;
}
.top-block6{
    position: absolute;
    width: 475px;
    height: 55px;
    left: 762px;
    top: 23px;
}
.Maistra-block,
.TOURS-block{
    position: absolute;
    width: 240px;
    height: 55px;
    background: #EFF3F6;
    border-radius: 2px;
    outline: none;
    border: none;
}
.TOURS-block{
    width: 205px;
    left: 270px;
}
.Maistra-ONLINE,
.TOURS-ONLINE{
    position: absolute;
    height: 55px;
    padding: 0px 20px 0px 20px;
    background: #EFF3F6;
    border-radius: 2px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #373737;
}
.Maistra-ONLINE{
    width: 145px;
}
.TOURS-ONLINE{
    width: 110px;
}
.Maistra-ONLINE::placeholder,
.TOURS-ONLINE::placeholder{
    color: #373737;
}
.Check-icon-1,
.Check-icon-2{
    position: absolute;
    top: 17.5px;
    left: 17.5px;
    width: 20px;
    height: 20px;
}
.Check-icon-1{
    background: no-repeat url(../img/png-icons/book\ 1.png);
    background-size: 20px 20px;
}
.Check-icon-2{
    background: no-repeat url(../img/png-icons/Frame\ 18.png);
    background-size: 20px 20px;
}
.Maistra-btn{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 185px;
    background: #DD4053;
    border-radius: 2px;
}
.TOURS-btn{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 150px;
    background: #4AD295;
    border-radius: 2px;
}
@media screen and (max-width:1297px) and (min-width:0px){
    .top-blocks{
        left: calc((100vw - 701px)/2);
        width: 701px;
        height: 177px;
    }
    .dash5{
        display: none;
    }
    .top-line{
        top: 177px;
    }
    .list-bottom-line{
        top: 246px;
    }
    .top{
        position: relative;
        width: 100vw;
        height: 177px;
        margin: 0 auto;
        padding: 0 auto;
    }
    .top-block6{
        position: relative;
        top: 101px;
        left: 0px;
        margin: 0 auto;
    }
}
@media screen and (max-width:760px){
    .top-blocks{
        left: calc((100vw - 655px)/2);
        width: 655px;
        height: 177px;
    }
    .smartphone-icon{
        top: 110px;
        left: 40px;
    }
    .dash5{
        display: block;
        top: 109px;
        left: 104px;
    }
    .top-block6{
        position: absolute;
        top: 101px;
        left: 140px;
    }
}
.list{
    position: relative;
    width: 100vw;
    height: 69px;
    top: 1px;  
}
.list-block{
    position: absolute;
    width: 1093px;
    height: 69px;
    left: 153px;
}
@media screen and (max-width:1400px) and (min-width:1153px){
    .list-block{
        position: absolute;
        width: 1093px;
        height: 69px;
        left: calc((100vw - 1093px)/2);
    }
}
@media screen and (min-width:1400px){
    .list{
        width: 1400px;
        margin: 0 auto;
    }
}
.search-icon{
    position: absolute;
    top: 27px;
    width: 19px;
    height: 19px;
    background: no-repeat url(../img/png-icons/search.png);
    background-size: 19px 19px;
}
.list-hotels,
.list-countries,
.list-avia,
.list-catalog,
.list-agents,
.list-WE,
.list-blog,
.list-FAQ,
.list-contacts{
    position: absolute;
    height: 42px;
    top: 27px;
    transition: 300ms;
}
.list-polygon-icon-1,
.list-polygon-icon-2,
.list-polygon-icon-3,
.list-polygon-icon-4,
.list-polygon-icon-5{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 8px;
    right: 0px;
    background: no-repeat url(../img/png-icons/Polygon\ 6.png);
    background-size: 6px 6px;
    transition: 500ms;
}
.list-hotels:hover .list-hotels-link .list-polygon-icon-1,
.list-countries:hover .list-countries-link .list-polygon-icon-2,
.list-avia:hover .list-avia-link .list-polygon-icon-3,
.list-agents:hover .list-agents-link .list-polygon-icon-4,
.list-WE:hover .list-WE-link .list-polygon-icon-5{
    transform: matrix(-1, -0.0001, 0, -1, 0, 0);
    -ms-transform: matrix(-1, -0.0001, 0, -1, 0, 0);
    -webkit-transform:matrix(-1, -0.0001, 0, -1, 0, 0);
}
.list-hotels-link,
.list-countries-link,
.list-avia-link,
.list-catalog-link,
.list-agents-link,
.list-WE-link,
.list-blog-link,
.list-FAQ-link,
.list-contacts-link{
    position: absolute;
    height: 42px;
    width: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    color: #616161;
    outline: none;
    transition: 300ms;
}
.hotels-red-overflow,
.countries-red-overflow,
.avia-red-overflow,
.catalog-red-overflow,
.agents-red-overflow,
.WE-red-overflow,
.blog-red-overflow,
.FAQ-red-overflow,
.contacts-red-overflow{
    position: absolute;
    overflow: hidden;
    width: 210px;
    height: 3px;
    top: 39px;
    left: -7px;
    z-index: -1;
    transition: 300ms;
}
.hotels-red,
.countries-red,
.avia-red,
.catalog-red,
.agents-red,
.WE-red,
.blog-red,
.FAQ-red,
.contacts-red{
    position: absolute;
    width: 210px;
    height: 3px;
    top: 5px;
    background: #DD4053;
    transition: 300ms;
}
.hotels-block-overflow,
.countries-block-overflow,
.avia-block-overflow,
.agents-block-overflow,
.WE-block-overflow{
    position: absolute;
    width: 210px;
    height: 230.5px;
    top: 42px;
    left: -7px;
    z-index: -2;
    overflow: hidden;
}
.hb-list,
.cb-list,
.ab-list,
.agb-list,
.wb-list{
    position: absolute;
    width: 210px;
    height: 230.5px;
    top: -230.5px;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    border-top: none;
    box-sizing: border-box;
}
.list-hotels-link:focus,
.list-hotels:hover .list-hotels-link,
.list-countries-link:focus,
.list-countries:hover .list-countries-link,
.list-avia-link:focus,
.list-avia:hover .list-avia-link,
.list-catalog-link:focus,
.list-catalog:hover .list-catalog-link,
.list-agents-link:focus,
.list-agents:hover .list-agents-link,
.list-WE-link:focus,
.list-WE:hover .list-WE-link,
.list-blog-link:focus,
.list-blog:hover .list-blog-link,
.list-FAQ-link:focus,
.list-FAQ:hover .list-FAQ-link,
.list-contacts-link:focus,
.list-contacts:hover .list-contacts-link{
    color: #171717;
}
.list-hotels-link:focus .hotels-red-overflow .hotels-red{
    top: 0px;
    width: 74px;
}
.list-countries-link:focus .countries-red-overflow .countries-red{
    top: 0px;
    width: 83px;
}
.list-avia-link:focus .avia-red-overflow .avia-red{
    top: 0px;
    width: 64px;
}
.list-catalog-link:focus .catalog-red-overflow .catalog-red{
    top: 0px;
}
.list-agents-link:focus .agents-red-overflow .agents-red{
    top: 0px;
    width: 91px;
}
.list-WE-link:focus .WE-red-overflow .WE-red{
    top: 0px;
    width: 71px;
}
.list-blog-link:focus .blog-red-overflow .blog-red{
    top: 0px;
}
.list-FAQ-link:focus .FAQ-red-overflow .FAQ-red{
    top: 0px;
}
.list-contacts-link:focus .contacts-red-overflow .contacts-red{
    top: 0px;
}
.list-hotels:hover .hotels-block-overflow,
.list-countries:hover .countries-block-overflow,
.list-avia:hover .avia-block-overflow,
.list-agents:hover .agents-block-overflow,
.list-WE:hover .WE-block-overflow{
    z-index: 1;
}
.list-hotels:hover .hotels-red-overflow,
.list-countries:hover .countries-red-overflow,
.list-avia:hover .avia-red-overflow,
.list-catalog:hover .catalog-red-overflow,
.list-agents:hover .agents-red-overflow,
.list-WE:hover .WE-red-overflow,
.list-blog:hover .blog-red-overflow,
.list-FAQ:hover .FAQ-red-overflow,
.list-contacts:hover .contacts-red-overflow,
.list-hotels-link:focus .hotels-red-overflow,
.list-countries-link:focus .countries-red-overflow,
.list-avia-link:focus .avia-red-overflow,
.list-catalog-link:focus .catalog-red-overflow,
.list-agents-link:focus .agents-red-overflow,
.list-WE-link:focus .WE-red-overflow,
.list-blog-link:focus .blog-red-overflow,
.list-FAQ-link:focus .FAQ-red-overflow,
.list-contacts-link:focus .contacts-red-overflow{
    z-index: 2;
}
.list-countries:hover .countries-block-overflow .cb-list,
.list-countries:hover .list-countries-link .countries-red,
.list-avia:hover .avia-block-overflow .ab-list,
.list-avia:hover .list-avia-link .avia-red,
.list-agents:hover .agents-block-overflow .agb-list,
.list-agents:hover .list-agents-link .agents-red{
    top: 0px;
    width: 210px;
}
.list-hotels:hover .hotels-block-overflow .hb-list,
.list-hotels:hover .list-hotels-link .hotels-red{
    top: 0px;
    width: 198px;
}
.list-WE:hover .WE-block-overflow .wb-list,
.list-WE:hover .list-WE-link .WE-red{
    top: 0px;
    width: 176px;
}
.list-catalog:hover .list-catalog-link .catalog-red{
    top: 0px;
    width: 119px;
}
.list-blog:hover .list-blog-link .blog-red{
    top: 0px;
    width: 50px;
}
.list-FAQ:hover .list-FAQ-link .FAQ-red{
    top: 0px;
    width: 47px;
}
.list-contacts:hover .list-contacts-link .contacts-red{
    top: 0px;
    width: 87px;
}
.list-countries:hover .countries-block-overflow .cb-list,
.list-avia:hover .avia-block-overflow .ab-list,
.list-agents:hover .agents-block-overflow .agb-list,
.list-hotels:hover .hotels-block-overflow .hb-list,
.list-WE:hover .WE-block-overflow .wb-list{
    transition: 500ms;
}
.hb-txt-div-1,
.hb-txt-div-2,
.hb-txt-div-3,
.hb-txt-div-4,
.hb-txt-div-5,
.hb-txt-div-6,
.hb-txt-div-7,
.hb-txt-div-8,
.hb-txt-div-9,
.hb-txt-div-10,
.hb-txt-div-11,
.cb-txt-div-1,
.cb-txt-div-2,
.cb-txt-div-3,
.cb-txt-div-4,
.cb-txt-div-5,
.cb-txt-div-6,
.cb-txt-div-7,
.ab-txt-div-1,
.ab-txt-div-2,
.ab-txt-div-3,
.ab-txt-div-4,
.ab-txt-div-5,
.ab-txt-div-6,
.ab-txt-div-7,
.agb-txt-div-1,
.agb-txt-div-2,
.agb-txt-div-3,
.agb-txt-div-4,
.agb-txt-div-5,
.agb-txt-div-6,
.agb-txt-div-7,
.wb-txt-div-1,
.wb-txt-div-2,
.wb-txt-div-3,
.wb-txt-div-4,
.wb-txt-div-5{
    position: relative;
    width: 209px;
    height: 33px;
    float: left;
    border-bottom: 0.5px solid #D0D0D0;
    box-sizing: border-box;
}
.wb-txt-div-1,
.wb-txt-div-2,
.wb-txt-div-3,
.wb-txt-div-4,
.wb-txt-div-5{
    width: 175px;
}
.hb-txt-div-1,
.hb-txt-div-2,
.hb-txt-div-3,
.hb-txt-div-4,
.hb-txt-div-5,
.hb-txt-div-6,
.hb-txt-div-7,
.hb-txt-div-8,
.hb-txt-div-9,
.hb-txt-div-10,
.hb-txt-div-11{
    width: 197px;
}
.hb-txt-div-11,
.cb-txt-div-7,
.ab-txt-div-7,
.agb-txt-div-7,
.wb-txt-div-5{
    height: 32.5px;
    border: none;
}
.wb-txt-div-5,
.hb-txt-div-9,
.hb-txt-div-11{
    height: 45px;
}
.hb-txt,
.hb-txt-1,
.cb-txt,
.ab-txt,
.agb-txt,
.wb-txt,
.wb-txt-1{
    position: absolute;
    top: 10.5px;
    left: 15px;
    height: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-decoration: none;
    color: #616161;
    transition: 500ms;
}
.hb-txt-1,
.wb-txt-1{
    height: 24px;
}
.hb-txt:hover,
.hb-txt:focus,
.hb-txt-1:hover,
.hb-txt-1:focus,
.cb-txt:hover,
.cb-txt:focus,
.ab-txt:hover,
.ab-txt:focus,
.agb-txt:hover,
.agb-txt:focus,
.wb-txt:hover,
.wb-txt:focus,
.wb-txt-1:hover,
.wb-txt-1:focus{
    color: #DD4053;
}

.list-hotels{
    left: 79px;
    width: 60px;
}
.list-hotels-link{
    width: 60px;
}
.hotels-red-overflow,
.hotels-red{
    width: 198px;
}
.hotels-block-overflow{
    width: 198px;
    height: 386.5px;
}
.hb-list{
    width: 198px;
    height: 386.5px;
    top: -386.5px;
}
.list-countries{
    left: 195px;
    width: 69px;
}
.list-countries-link{
    width: 69px;
}
.list-avia{
    left: 320px;
    width: 50px;
}
.list-catalog{
    left: 427px;
    width: 103px;
}
.list-catalog-link{
    text-align: center;
    width: 103px;
}
.catalog-red-overflow{
    width: 119px;
    left: -8px;
}
.catalog-red{
    width: 119px;
}
.list-agents{
    left: 586px;
    width: 77px;
}
.list-agents-link{
    width: 77px;
}
.list-WE{
    left: 723px;
    width: 57px;
}
.list-WE-link{
    width: 57px;
}
.WE-red-overflow,
.WE-red{
    width: 176px;
}
.WE-block-overflow{
    width: 176px;
    height: 176.5px;
}
.wb-list{
    width: 176px;
    height: 176.5px;
    top: -176.5px;
}
.list-blog{
    left: 840px;
    width: 34px;
}
.list-blog-link{
    text-align: center;
    width: 34px;
}
.blog-red-overflow{
    width: 50px;
    left: -8px;
}
.blog-red{
    width: 50px;
}
.list-FAQ{
    left: 934px;
    width: 29px;
}
.list-FAQ-link{
    text-align: center;
    width: 29px;
}
.FAQ-red-overflow{
    width: 47px;
    left: -8px;
}
.FAQ-red{
    width: 47px;
}
.list-contacts{
    left: 1022px;
    width: 71px;
}
.list-contacts-link{
    text-align: center;
    width: 71px;
}
.contacts-red-overflow{
    width: 87px;
    left: -8px;
}
.contacts-red{
    width: 87px;
}
@media screen and (max-width:1153px){
    .list-block{
        left: 30px;
    }
    .list-hotels{
        left: calc(79px - (1093px - 100vw + 60px)*0.0723);
        transition: 0ms; 
    }
    .list-countries{
        left: calc(195px - (1093px - 100vw + 60px)*0.178);
        transition: 0ms;
    }
    .list-avia{
        left: calc(320px - (1093px - 100vw + 60px)*0.293);
        transition: 0ms;
    }
    .list-catalog{
        left: calc(427px - (1093px - 100vw + 60px)*0.39);
        transition: 0ms;
    }
    .list-agents{
        left: calc(586px - (1093px - 100vw + 60px)*0.536);
        transition: 0ms;
    }
    .list-WE{
        left: calc(723px - (1093px - 100vw + 60px)*0.6615);
        transition: 0ms;
    }
    .list-blog{
        left: calc(840px - (1093px - 100vw + 60px)*0.7685);
        transition: 0ms;
    }
    .list-FAQ{
        left: calc(934px - (1093px - 100vw + 60px)*0.8545);
        transition: 0ms;
    }
    .list-contacts{
        left: calc(1022px - (1093px - 100vw + 60px)*0.935);
        transition: 0ms;
    }
}
@media screen and (max-width:803px){
    .list-bottom-line{
        top: 315px;
    }
    .list{
        height: 138px;
    }
    .list-block{
        width: 537px;
        height: 138px;
        left: 10px;
    }
    .list-hotels,
    .list-countries,
    .list-avia,
    .list-agents,
    .list-WE{
        top: 96px;
    }
    .list-hotels{
        left: 0px;
    }
    .list-countries{
        left: 116px;
    }
    .list-avia{
        left: 241px;
    }
    .list-agents{
        left: 347px;
    }
    .list-WE{
        left: 480px;
    }
    .list-catalog{
        left: 60px;
    }
    .list-blog{
        left: 223px;
    }
    .list-FAQ{
        left: 317px;
    }
    .list-contacts{
        left: 406px;
    }
}
@media screen and (max-width:803px) and (min-width:557px){
    .list-block{
        left: calc(133px - (803px - 100vw)/2);
    }
}
.contacts-main{
    position: relative;
    width: 100vw;
    height: 613px;
    left: 0px;
    top: 1px;
}
.cm-main-link-1{
    position: absolute;
    width: 50px;
    height: 15px;
    left: 115px;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #969696;
}
.cm-main-link-dash{
    position: absolute;
    width: 5px;
    height: 15px;
    left: 175px;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #969696;
}
.cm-main-link-2{
    position: absolute;
    width: 59px;
    height: 15px;
    left: 190px;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #171717;
}
.contacts-main-block{
    position: absolute;
    width: 342px;
    height: 342px;
    left: 215px;
    top: 147px;
}
.cm-txt{
    position: absolute;
    width: 224px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    text-transform: uppercase;
    color: #232323;
}
.cm-txt-adress{
    position: absolute;
    width: 42px;
    height: 12px;
    top: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #848484;
}
.cm-txt-adress-2{
    position: absolute;
    width: 342px;
    height: 26px;
    top: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.cm-txt-telephone{
    position: absolute;
    width: 97px;
    height: 12px;
    top: 165px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #848484;
}
.cm-telephone-str{
    font-weight: 600;
}
.cm-txt-telephone-multi{
    position: absolute;
    width: 342px;
    height: 26px;
    top: 192px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.cm-txt-telephone-duty{
    position: absolute;
    width: 342px;
    height: 26px;
    top: 223px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.cm-txt-working-mode{
    position: absolute;
    width: 95px;
    height: 12px;
    top: 289px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #848484;
}
.cm-txt-working-mode-time{
    position: absolute;
    width: 167px;
    height: 26px;
    top: 316px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.cm-questions{
    position: absolute;
    width: 500px;
    height: 460px;
    right: 150px;
    top: 93px;
    background: #F8F8F8;
}
.cm-questions-txt{
    position: absolute;
    width: 227px;
    height: 25px;
    left: 132px;
    top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #323232;
}
.cm-questions-name,
.cm-questions-telphone,
.cm-questions-email,
.cm-questions-comment{
    position: absolute;
    width: 330px;
    height: 50px;
    left: 65px;
    top: 85px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    outline: none;
    border-radius: 2px;
    padding: 0px 20px;
}
.cm-questions-name:hover,
.cm-questions-telphone:hover,
.cm-questions-email:hover,
.cm-questions-comment:hover,
.cm-questions-name:focus,
.cm-questions-telphone:focus,
.cm-questions-email:focus,
.cm-questions-comment:focus{
    border: 1px solid #616161;
}
.cm-questions-name::placeholder,
.cm-questions-telphone::placeholder,
.cm-questions-email::placeholder,
.cm-questions-comment::placeholder{
    color: #969696;
    margin-left: -20px;
}
.cm-questions-name:hover::placeholder,
.cm-questions-telphone:hover::placeholder,
.cm-questions-email:hover::placeholder,
.cm-questions-comment:hover::placeholder,
.cm-questions-name:focus::placeholder,
.cm-questions-telphone:focus::placeholder,
.cm-questions-email:focus::placeholder,
.cm-questions-comment:focus::placeholder{
    color: #2F2F2F;
}
.cm-questions-telphone{top: 150px;}
.cm-questions-email{top: 215px;}
.cm-questions-comment{top: 280px;}
.cm-questions-btn{
    position: absolute;
    width: 370px;
    height: 20px;
    left: 65px;
    top: 350px;
    background: #DD4053;
    padding: 20px 0px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width:1250px){
    .contacts-main-block{
        left: calc(215px - (1250px - 100vw));
    }
}
@media screen and (max-width:1185px){
    .contacts-main{
        height: 1002px;
    }
    .contacts-main-block{
        top: 100px;
        left: calc((843px - (1185px - 100vw)) / 2);
    }
    .cm-questions{
        top: 492px;
        left: calc((685px - (1185px - 100vw)) / 2);
        right: none;
    }
}
.contacts-map{
    position: relative;
    width: 100vw;
    height: 400px;
    background: no-repeat url(../img/карта.png) center/cover; 
}
@media screen and (min-width:1700px) {
    .contacts-map{
        position: absolute;
        top: 263px;
        height: 460px;
        left: 274px;
        width: calc(100vw - 799px);
    }
    .contacts-main-block{
        width: 224px;
        left: 25px;
    }
    .cm-txt,
    .cm-txt-adress,
    .cm-txt-adress-2,
    .cm-txt-telephone,
    .cm-txt-telephone-multi,
    .cm-txt-telephone-duty,
    .cm-txt-working-mode,
    .cm-txt-working-mode-time{
        width: 224px;
        text-align: center;
    }
    .cm-txt-telephone-duty{
        top: 252px;
    }
    .cm-questions{
        right: 25px;
    }
}
@media screen and (min-width:2064px){
    .contacts-map{
        position: absolute;
        width: 1249px;
        top: 263px;
        height: 460px;
        left: 274px;
    }
    .contacts-main-block{
        width: 224px;
        left: 25px;
    }
    .cm-questions{
        left: 1521px;
        right: none;
    }
}
.our-team{
    position: relative;
    width: 100vw;
    height: 965px;
    left: 0px;
}
.our-team-txt{
    position: absolute;
    width: 272px;
    height: 42px;
    left: 115px;
    top: 90px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    text-transform: uppercase;
    color: #232323;
}
.ot-links{
    position: absolute;
    width: 592px;
    top: 103px;
    right: 115px;
}
.our-team-link-all,
.our-team-link-accounting,
.our-team-link-departament,
.our-team-link-ticket-o{
    position: relative;
    float: left;
    width: 31px;
    height: 16px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    color: #000000;
    opacity: 0.35;
}
.our-team-link-all{margin-left: 0px;}
.our-team-link-accounting{width: 105px;}
.our-team-link-departament{width: 218px;}
.our-team-link-ticket-o{width: 88px;}
.ot-line{
    position: absolute;
    width: calc(100vw - 230px);
    height: 1px;
    left: 115px;
    top: 162px;
    background: #D0D0D0;
}
.ot-blocks{
    position: absolute;
    width: calc(100vw - 230px);
    left: 115px;
    top: 163px;
}
.ot-block-1,
.ot-block-2,
.ot-block-3,
.ot-block-4,
.ot-block-5,
.ot-block-6,
.ot-block-7,
.ot-block-8,
.ot-block-9{
    position: relative;
    float: left;
    width: 550px;
    height: 226px;
    margin-top: 34px;
    margin-right: 50px;
    border-bottom: 1px solid #D0D0D0;
    box-sizing: border-box;
}
@media screen and (max-width:1430px) and (min-width:1136px) {
    .ot-block-1,
    .ot-block-2,
    .ot-block-3,
    .ot-block-4,
    .ot-block-5,
    .ot-block-6,
    .ot-block-7,
    .ot-block-8,
    .ot-block-9{
        width: calc((100vw - 330px)/2);
    }
}
@media screen and (max-width:1136px){
    .our-team{
        height: 1011px;
    }
    .ot-blocks{
        top: 209px;
    }
    .ot-line{
        top: 208px;
    }
    .ot-block-1,
    .ot-block-2,
    .ot-block-3,
    .ot-block-4,
    .ot-block-5,
    .ot-block-6,
    .ot-block-7,
    .ot-block-8,
    .ot-block-9{
        margin-right: calc((100vw - 115px - 403px) / 2 - 115px);
        margin-left: calc((100vw - 115px - 403px) / 2 - 115px);
    }
    .our-team-txt{
        left: calc((100vw - 592px) / 2);
    }
    .ot-links{
        top: 162px;
        left: calc((100vw - 592px) / 2);
    }
}
@media screen and (max-width:824px){
    .ot-line{
        width:594px;
        left: calc((100vw - 594px) / 2);
    }
}
@media screen and (min-width:1430px) and (max-width:1596.5px){
    .ot-block-1,
    .ot-block-2,
    .ot-block-3{
        margin-left: calc((100vw - 230px - 1100px) / 2 - 50px);
    }
    .ot-block-4,
    .ot-block-5,
    .ot-block-6{
        margin-right: calc((100vw - 230px - 1100px) / 2 - 50px);
    }
}
@media screen and (min-width:1596.5px) and (max-width:2064px){
    .ot-block-1,
    .ot-block-2,
    .ot-block-3,
    .ot-block-4,
    .ot-block-5,
    .ot-block-6,
    .ot-block-7,
    .ot-block-8,
    .ot-block-9{
        width: calc((100vw - 380px)/3);
    }
}
@media screen and (min-width:2064px){
    .ot-block-1,
    .ot-block-2,
    .ot-block-3,
    .ot-block-4,
    .ot-block-5,
    .ot-block-6,
    .ot-block-7,
    .ot-block-8,
    .ot-block-9{
        width: 560px;
    }
    .ot-blocks{
        width: 1834px;
    }
    .ot-line{
        width: 1834px;
    }
    .ot-links{
        left: 1357px;
        right: none;
    }
}
.ot-img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 6px;
    background: no-repeat url(../img/caa5ade0ec\ 1.png);
    background-size: 150px 150px;
}
.ot-block-2 .ot-img,
.ot-block-7 .ot-img{
    background: no-repeat url(../img/b620fef46d\ 1.png);
    background-size: 150px 150px;
}
.ot-block-4 .ot-img,
.ot-block-9 .ot-img{
    background: no-repeat url(../img/aebaf84a50\ 1.png);
    background-size: 150px 150px;
}
.ot-block-5 .ot-img,
.ot-block-8 .ot-img{
    background: no-repeat url(../img/fd4b766744\ 1.png);
    background-size: 150px 150px;
}
.ot-block-name{
    position: absolute;
    width: 166px;
    height: 26px;
    left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
}
.ot-block-txt{
    position: absolute;
    height: 44px;
    left: 200px;
    top: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}
.ot-block-mail{
    position: absolute;
    height: 22px;
    left: 200px;
    top: 134px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.ot-block-line,
.ot-block-line-1{
    position: absolute;
    width: 550px;
    height: 1px;
    top: 225px;
    background: #D0D0D0;
}
.ot-block-line-1{display: none;}
.ot-block-3 .ot-block-txt,
.ot-block-5 .ot-block-txt{
    width: 335;
}
@media screen and (min-width:1400px){
    .contacts-bottom{
        margin: 0 auto;
    }
    .contacts-bottom-left{
        position: absolute;
        height: 260px;
        width: calc((100vw - 1400px)/2);
        min-width: 50px;
        right: 1400px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
    }
    .contacts-bottom-right{
        position: absolute;
        height: 260px;
        width: calc((100vw - 1400px)/2);
        min-width: 50px;
        left: 1400px;
        background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    }
}
@media screen and (min-width:2064px){
    .contacts-bottom-left,
    .contacts-bottom-right{        
        width: 332px;
    }
}
.contacts-bottom{
    position: relative;
    width: 1400px;
    height: 260px;
    left: 0px;
    background: #F8F8F8;
}
.cb-logo{
    position: absolute;
    width: 156px;
    height: 86px;
    left: 115px;
    top: 64px;
    background: no-repeat url(../img/png-icons/logo\ \(1\)\ 2.svg);
    background-size: 156px 86px;
}
.cb-link-1,
.cb-link-2,
.cb-link-3,
.cb-link-4,
.cb-link-5,
.cb-link-6,
.cb-link-7{
    position: absolute;
    width: 73px;
    height: 19px;
    left: 561px;
    top: 60px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    color: #3E3E3E;
}
.cb-link-2{
    top: 84px;
}
.cb-link-3{
    width: 103px;
    top: 108px;
}
.cb-link-4{
    width: 103px;
    top: 132px;
}
.cb-link-5{
    left: 744px;
}
.cb-link-6{
    left: 744px;
    top: 84px;
}
.cb-link-7{
    width: 103px;
    left: 744px;
    top: 108px;
}
.cb-txt-1{
    position: absolute;
    width: 131px;
    height: 16px;
    left: 901px;
    top: 60px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3E3E3E;
    opacity: 0.5;
}
.cb-txt-2{
    position: absolute;
    width: 150px;
    height: 19px;
    left: 901px;
    top: 84px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #3E3E3E;
}
.cb-nuber-1,
.cb-nuber-2{
    position: absolute;
    width: 154px;
    height: 19px;
    left: 1131px;
    top: 60px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #3E3E3E;
}
.cb-nuber-2{top: 84px;}
.cb-contacts{
    position: absolute;
    width: 89px;
    height: 16px;
    left: 1131px;
    top: 128px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3E3E3E;
    opacity: 0.5;
}
.cb-bottom-line{
    position: absolute;
    width: 1170px;
    height: 1px;
    left: 115px;
    top: 191px;
    background: rgba(29, 29, 29, 0.2);
    border-radius: 2px;
}
.cb-bottom-txt{
    position: absolute;
    width: 377px;
    height: 18px;
    left: 115px;
    top: 214px;
    font-family: 'Suisse Int`l Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(62, 62, 62, 0.5);
}
.cb-fiy{
    position: absolute;
    width: 79.2px;
    height: 20px;
    right: 115.63px;
    top: 214px;
}
.cb-facebook{
    position: absolute;
    width: 20px;
    height: 20px;
    background: no-repeat url(../img/png-icons/facebook\ 2.png);
    background-size: 20px 20px;
}
.cb-instagram{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 26.4px;
    background: no-repeat url(../img/png-icons/instagram\ \(1\)\ 2.png);
    background-size: 20px 20px;
}
.cb-youtube{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 52.8px;
    background: no-repeat url(../img/png-icons/youtube\ 2.png);
    background-size: 20px 20px;
}
@media screen and (max-width:1400px){
    .contacts-bottom{
        width: 100vw;
    }
    .cb-bottom-line{
        width: calc(100vw - 230px);
    }
    .cb-link-1,
    .cb-link-2,
    .cb-link-3,
    .cb-link-4{
        left: calc(561px - (1400px - 100vw));
    }
    .cb-link-5,
    .cb-link-6,
    .cb-link-7{
        left: calc(744px - (1400px - 100vw));
    }
    .cb-txt-1,
    .cb-txt-2{
        left: calc(901px - (1400px - 100vw));
    }
    .cb-nuber-1,
    .cb-nuber-2,
    .cb-contacts{
        left: calc(1131px - (1400px - 100vw));
    }
}
@media screen and (max-width:1140px){
    .cb-link-1,
    .cb-link-2,
    .cb-link-3,
    .cb-link-4{
        left: 301px;
    }
}
@media screen and (max-width:1090px){
    .cb-link-5,
    .cb-link-6,
    .cb-link-7{
        left: 434px;
    }
}
@media screen and (max-width:1036px){
    .cb-txt-1,
    .cb-txt-2{
        left: 537px;
    }
}
@media screen and (max-width:986px){
    .cb-bottom-line{
        width: 756px;
    }
    .cb-bottom-line,
    .cb-bottom-txt,
    .cb-logo{
        left: calc(115px - (986px - 100vw)/2);
    }
    .cb-link-1,
    .cb-link-2,
    .cb-link-3,
    .cb-link-4{
        left: calc(301px - (986px - 100vw)/2);
    }
    .cb-link-5,
    .cb-link-6,
    .cb-link-7{
        left: calc(434px - (986px - 100vw)/2);
    }
    .cb-txt-1,
    .cb-txt-2{
        left: calc(537px - (986px - 100vw)/2);
    }
    .cb-nuber-1,
    .cb-nuber-2,
    .cb-contacts{
        left: calc(717px - (986px - 100vw)/2);
    }
    .cb-fiy{
        right: calc(115px - (986px - 100vw)/2);
    }
}
@media screen and (max-width:816px){
    .cb-bottom-line{
        width: calc(756px - (816px - 100vw));
    }
    .cb-bottom-line,
    .cb-bottom-txt,
    .cb-logo{
        left: 30px;
    }
    .cb-link-1,
    .cb-link-2,
    .cb-link-3,
    .cb-link-4{
        left: 216px;
    }
    .cb-link-5,
    .cb-link-6,
    .cb-link-7{
        left: 349px;
    }
    .cb-txt-1,
    .cb-txt-2{
        left: 452px;
    }
    .cb-nuber-1,
    .cb-nuber-2,
    .cb-contacts{
        left: 452px;
        top: 108px;
    }
    .cb-nuber-1{
        top: 132px;
    }
    .cb-nuber-2{
        display: none;
    }
    .cb-fiy{
        right: 30px;
    }
}